<ion-content>

  <ion-item *ngIf="song && fileUrl && mimeType">

    <ion-col>
      <video controls *ngIf="mimeType.startsWith('video')"><source [src]="fileUrl" [type]="mimeType"></video>
      <audio controls *ngIf="mimeType.startsWith('audio')" [src]="fileUrl"></audio>
      <img *ngIf="mimeType.startsWith('image')" [src]="fileUrl"/>
    </ion-col>
    
    <ion-col>
      <form [formGroup]="editSongForm" (submit)="onSubmit()">
        
        <ion-list>
          <ng-template [ngIf]="this.isOwner" [ngIfElse]="isNotOwner">
            <ion-item lines="full">
              <ion-input formControlName="name" type="text" label="Nom" labelPlacement="floating"></ion-input>
            </ion-item>
            
            <ion-item lines="full">
              <ion-textarea formControlName="description" label="Description" labelPlacement="floating"></ion-textarea>
            </ion-item>
          </ng-template>
          
          <ng-template #isNotOwner>
            <ion-item lines="full">
              <ion-label position="stacked">Nom</ion-label>
              <ion-text>{{ this.song }}</ion-text>
            </ion-item>
            
            <ion-item lines="full">
              <ion-label position="stacked">Description</ion-label>
              <ion-text>{{ this.song }}</ion-text>
            </ion-item>
          </ng-template>
        </ion-list>
        
        <ion-list>
          <ion-row *ngIf="isOwner || isAdmin">
            <ion-col>
              <ion-button type="submit" expand="block">
                Sauvegarder
              </ion-button>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <ion-button [href]="fileUrl" expand="block">
                <ion-icon slot="start" name="eye-outline"></ion-icon>
                Afficher
              </ion-button>
            </ion-col>
            
            <ion-col *ngIf="isOwner || isAdmin">
              <ion-button (click)="delete()" color="danger" expand="block">
                <ion-icon slot="start" name="trash-outline"></ion-icon>
                Supprimer
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-list>
        
      </form>
    </ion-col>
      
  </ion-item>
  
</ion-content>