<ng-template *ngIf="user">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <ng-template [ngIf]="this.authentication.user?.id == this.requestId" [ngIfElse]="notOwner">Votre Gallerie</ng-template>
        <ng-template #notOwner>Gallerie de {{ user.username }}</ng-template>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ng-template [ngIf]="songs && songs.length != 0" [ngIfElse]="noSongs"> [ngIfElse]="noSongs">
    <ion-list>
      <app-song *ngFor="let song of songs" [song]="song"></app-song>
    </ion-list>
    <!-- <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  </ng-template>
  <ng-template #noSongs [nfIf]="songs === null">
    <ion-title>
      <h1>Il n'y a aucun Utilisateur, pour l'instant...</h1>
      <ion-text>Vous pouvez nous rejoindre <a [routerLink]="['/authentication']">ici</a>. N'attendez plus!</ion-text>
    </ion-title>
  </ng-template>
</ng-template>